.bg{
  background-color: rgb(164, 91, 248);
  width: 97%;
  height: 500px;
  padding: 30px;
  display: flex;
}
.container{
  display: block;
}
.left{
  display: flex;
  margin-right : 10px
}
.top{
  display: flex;
  margin-bottom: 10px;
}

.red{
  background-color: red;
  width: 400px;
  height: 200px;
  margin-right : 10px;
}
.greenlight{
  background-color: rgb(96, 247, 197);
  width: 600px;
  height: 200px;
  margin-right : 10px;
}
.green{
  background-color : green;
  width: 250px;
  height : 200px
}
.bottom{
  display: flex;
}
.orange{
  background-color: orangered;
  width : 400px;
  height: 300px;
  margin-right: 10px;
}
.orangelight{
  background-color: orange;
  width : 860px;
  height: 300px;
}
.right{
  display: flex;
}
.blue{
  background-color: #4b4ef7;
  width: 200px;
  height: 510px;
  margin-right: 10px;
}
.blueblack{
  background-color: #04067e;
  width: 280px;
  height: 510px;
  margin-right: 10px;
}
.bluelight{
  background-color: rgb(0, 204, 255);
  width : 70px;
  height: 510px;
}