.bg{
  background-color: #dbdeff;
  width: 97%;
  height: 550px;
  padding: 30px;
  display: flex;
}
.container{
  display: block;
  width: 100%;
  height : 100%;
}
.left{
  display: flex;
  margin-right : 10px;
  width : 65%;
}
.top{
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  height : 40%;
}

.red{
  background-color: #d30557;
  width: 25%;
  height: 100%;
  margin-right : 1%;
}
.greenlight{
  background-color: #00aba5;
  width: 50%;
  height: 100%;
  margin-right : 1%;
}
.green{
  background-color :#009a78;
  width: 22%;
  height: 100%;
  margin-right : 1%;
}
.bottom{
  display: flex;
  width: 100%;
  height: 60%;
}
.orange{
  background-color: #ea6601;
  width : 25%;
  height: 100%;
  margin-right: 1%;
}
.orangelight{
  background-color: #ff8961;
  width : 73%;
  height: 100%;
}
.right{
  display: flex;
  width : 35%;
}
.blue{
  background-color: #2196d9;
  width: 35%;
  height: 102%;
  margin-right: 10px;
}
.blueblack{
  background-color: #1b6d9f;
  width: 60%;
  height: 102%;
  margin-right: 10px;
}
.bluelight{
  background-color: #5ac1fc;
  width : 10%;
  height: 102%;
}
